<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!--Interpolation:- Interpolation is used to display dynamic data on HTML page.  -->
  <h1>Hello Angular {{title}}</h1>
  <h1>{{title}}</h1>
  <h1>{{getValue}}</h1>
  <h1>{{2+2}}</h1>
  <h1>{{title=="blog"}}</h1>
  <!--We can not assign data and can not check typeof using the help of interpolation. Increment and decrement also can not perform and new also-->
  <!-- <h1>{{title="Hello"}}</h1>
  <h1>{{typeof title}}</h1> -->
  <app-login></app-login>
  <h1>Create Button </h1>
  <button (click)="getName()">Click Me</button>
  <button (click)="getData('box')">Call Function</button>
  <br>
  <input type="text" #box (keyup)="getData(box.value)" placeholder="event keyup">
  <input type="text" #box3 (blur)="getData(box3.value)" placeholder="event blur">
  <input type="text" #box2 (input)="getData(box2.value)" placeholder="event input">
  <!--Mouseover and mouseleave-->
  <h1 (mouseover)="getData('over')">code step by step</h1>
  <h1 (mouseleave)="getData('leave')">Anil Sidhu</h1>
  <p>{{displayVal}}</p>
  <!--Get Input box value and display
  1. Make input box
  2. Get value on keyup((change)
  3. Display value on screen
  4. Get value with button click-->
  <h1>{{title}}</h1>
  <input type="text" (keyup)="getValue(box.value)" placeholder="Enter name" name="name">
  <button (click)="counter('minus')">--</button>
  <p>Count:{{count}}</p>
  <button (click)="counter('add')">++</button>
  <!--14. Basic Rule of style
  1. Component Style
  2. Global Style
  3. Internal Style
  4. Click style with multiple component-->
  <!--15. Property Binding e.g.
    1. What is property Binding
    2. Difference between property binding and interpolation
    3. Example-->
    <input type="text" name="user-name" value={{name}} disabled={{display}}>
    <!--If-else condition-->
    <h1 *ngIf = "Show=='Yes'; then if Block else elseBlock"></h1>

    <ng-template #ifBlock>
      <h1>If condition--</h1>
    </ng-template>
    <ng-template #elseBlock>
    <h1>else condition</h1>
  </ng-template>
  <!--17. Multiple condition or else if
    1. Apply basic if condition 
    2. How to use else-if condition-->
    <ng-template [ngIf]="color==='green'">
      <h1 style="color:green;">Green color</h1>
    </ng-template>
    <ng-template [ngIf]="color==='red'">
      <h1 style="color:red;">Red color</h1>
    </ng-template>
    <ng-template [ngIf]="color==='blue'">
      <h1 style="color:blue;">Blue Color</h1>
    </ng-template>
    <!--switch-case
    1. Why use switch case
    2. Make switch case
    3. Apply default case-->
    <div [ngSwitch]="color">
      <h1 *ngSwitch="'red'" style="color:red;">Red Color</h1>
      <h1 *ngSwitch="'green'" style="color:green">Green color</h1>
      <h1 *ngSwitch="'blue'" style="color:blue">Blue color</h1>
      <h1 *ngSwitch="'orange'" style="color:orange">orange color</h1>
      <h1 *ngSwitch="'skyblue'" style="color:skyblue">Skyblue color</h1>
      <h1 *ngSwitchDefault>Unknown color</h1>
    </div>
    <h3 *ngFor="let item of users">Name is:{{item}}</h3>
    <h3 *ngFor="let item of usersDetails">{{item.name}}--{{item.email}}</h3>
    <ul *ngFor="let user of users">
      <li>Name:{{user.name}}</li>
      <li>Phone:{{user.phone}}</li>
      <li>Social Accounts</li>
      <ul *ngFor="let account of user.socielAccounts">
        <li>{{account}}</li>
      </ul>
    </ul>
    <h1 [style.color]="color" [style.backgroundColor]="bgColor">{{title}}</h1>
    <button (click)="updateColor()">update color</button>
    <!--Header
    1. Make Header Component
    2. Add image and menu
    3. Add style-->
    <app-header></app-header>
    <h1>{{title}}</h1>
    <form #basic="ngForm" (ngSubmit)="getData(basicForm.value)">
      <input type="text" ngModel name="user" placeholder="Enter user name"/>
      <br>
      <input type="text" ngModel name ="email" placeholder="Enter user email">
      <br>
      <input type="text" ngModel name="password" placeholder="enter user password">
      <br>
      <br>
      <button>Register</button>

      <input type="text" placeholder="Enter new task" #task>
      <br>
      <br>
      <ul *ngFor="let item of list">
        <li>{{item.name}}<button (click)="removeTask(item.id)">Remove</button>
        </li>
      </ul>
    </form>
    <ul>
      <li>{{userData.user}}</li>
      <li>{{userData.email}}</li>
      <li>{{userData.password}}</li>
    </ul>
    <button (click)="toggle()">toggle</button>
    <h1 *ngIf="display">
      Heading Tag

    </h1>
    <!--
      25. How to use Bootstrap with angular 
        1. Install Bootstrap
        2. Check change after install bootstrap
        3. e.g. of bootstrap
        Copy alert and accordion code and paste in app.component.html

      27. Todo list in angular 
        1. Make Textbox and button
        2. Add task on button click
        3. Show list on tasks 
        4. Remove item from todo list
    -->

    <!--28. Pass data child to component
    1. Make child component
    2. use child component
    3. Send data from parent component
    4. Use data from parent component-->
      <app-child [item]="data"></app-child>
      <app-child (updateDataEvent)="updateData($event)"></app-child>
      <button (click)="updateChild()">Update Child component</button>
      <ul *ngFor="let user of userDetails">
        <app-user-details [item]='user'></app-user-details>
      </ul>
      <!--31. Two way binding
      1. What is two-way binding
      2. Make text input and define the property
      3. Import formsModule in app.Module
      4. Test two-way binding-->

      <input type="text" [(ngModule)]="name">
      <h3>{{name}}</h3>

      <!--32. Template reference variable
      1. Use of template variable
      2. Make input type
      3. Use template reference variable-->
      <input type="text" #box name="user" placeholder="Enter user name">
      <button (click)="getVal(box)">Call Function</button>

      <!--34 Basics of pipes in Angular
      1. Use of pipes
      2. Problems that can resolve with pipes 
      3. e.g. 
      Change the format of data from one form to another form OR make the letter case sensetive. Apply local -->

      <h1>{{title|uppercase}}</h1>
      <h1>{{title|lowercase}}</h1>
      <h1>{{title|slice:3:6|uppercase}}</h1>
      <h1>{{user|json|uppercase}}</h1>
      <h1>{{2.3|number|'3.3-5'}}</h1>
      <h1>{{20|currency|'INR'}}</h1>
      <h1>{{today|Date:'fullDates'}}</h1>

      <h2>{{20|usdInr:100}}</h2>

      <!--37. Forms Introduction
      1. Why we use forms
      2. Types of forms
      3. What we learn about form 
      4. Forms data flow
    Forms Use
    1. Submit any kind of information to database 
    2. But angular can not connect to database
    3. So we send data to API
    4. and API update the database
    5. e.g.
        1. Login
        2. SignUp
        3. Post
        4. Many more
    
    Forms type in angular
    1. Template driven form
        Mostly work done in the component template
    2. Reactive form 
        Mostly work done in the component class

    What we learn in forms-
        How to make forms
        How to get data from forms 
        How to add validations 
        How to show error message
        How to call API
        How to show pre-fill forms

    Data flow with the forms--
    Template====>Class====>Service====>Database

    38. Template driven form
    1. Make simple form
    2. Get form vale in TS file
    -->
    <form action="" #loginForm="ngForm"(ngSubmit)="userLogin(loginForm.value)">
      <input type="text" placeholder="Enter Name" name="name" ngModel>
      <br><br>
      <input type="password" placeholder="Enter Password" name="password" ngModel>
      <br><br>
      <button>Login</button>
    </form>
    <form action="" [formGroup]="loginForm" (ngSubmit)="loginUser">
      <input type="text" placeholder="Enter Name" name="user" formControlName="user">
      <br>
      <input type="password" placeholder="Enter Password" name="password" formControlName="password">
      <button>Login</button>
    </form>
    <br>
    <!--41. Reactive form validation
    1. Use form from the last video
    2. Import Validation
    3. Apply validation
    4. Define getter for fields
    5. Show errors and disable button -->
    <form action="" [formGroup]="loginForm" (ngSubmit)="loginUser()">
      <input type="text" placeholder="enter name" formControlName="user">
      <br>
      <span style="color:red" *ngIf="user && user.invalid && user.touched">This field is not valid </span>
      <br>
      <input type="password" placeholder="Enter Password" formControlName="password">
      <br>
      <span style="color:red;" *ngIf="password && password.invalid && password.touched">This field is not valid </span>
      <br>
      <button [disabled]="loginForm.invalid">Login</button>
    </form>

    <!--42. Directives in angular
    1. What are directives in angular ==> *ngIf, *ngFor..... 
    2. e.g of directives
    3. Make a new directive
    4. Update element-->

    <h1 appRedEl>{{title}}</h1>
    <p appRedEl>Hi my name is prabhat</p>

    // Remove all codes
<h1>Code step by step</h1>
<a routerLink="">Home</a>
<br>
<a routerLink="about">About</a>
<br>
<a routerLink="user">User</a>
<h1>Home Work</h1>

<a routerLink="">Home</a>
<br>
<a routerLink="about">About</a>
<br>
<a routerLink="user">User</a>
<br>
<a routerLink="user/20">Anil</a>
<br>
<a routerLink="user/30">Sam</a>
<br>
<a routerLink="user/40">Bhasker</a>
<router-outlet></router-outlet>

<ul>
  <li *ngFor="let data of memberData">
    {{data.name}}
  </li>
</ul>

<!--48. Make Service and use in multiple file==>
  1. Make service 
  2. Add data in service
  3. Make footer component
  4. use service in app component
  5. use service in footer component==> 

-->
<ul>
  <li *ngFor = "let user of users"> {{user.name}}</li>
</ul>

<ul>
  <li *ngFor="let user of users">
    {{user.name}}--{{user.email}}
  </li>
</ul>

<!--49. Get data from API and display
Call API in angular
1. What is API
2. How API works
3. Make service
4. Call get API
5. Display data using API-->

<!--50. Post API method | save data with API
1. Make form
2. Get form data
3. Make function in service and call
4. call post api-->

<form #userForm="ngForm" (ngSubmit)="getUserFormData(usersForm.value)">
  <input type="text" ngModel name="name" placeholder="enter name">
  <br>
  <input type="text" ngModel name="email" placeholder="Enter email">
  <br><input type="password" ngModel name="password" placeholder="enter password">
  <button>Add New User</button>
</form>
<app-login></app-login>
<h1>Routing Module in angular</h1>
<ul>
  <li>
    <a routerLink="login">Login</a>
    <a routerLink="list">List</a>
  </li>
</ul>
<router-outlet></router-outlet>

<!--54. Group routing
  . Recap previous video
  . Make one more module and route for it
  . make grouped route
-->

<h1>Group Routing in angular</h1>
<h3>Admin Page</h3>
<ul>
  <li><a routerLink="login">Login</a></li>
  <li><a routerLink="list">List</a></li>

</ul>
<h3>User Pages</h3>
<ul>
  <li><a routerLink="login">Login</a></li>
  <li><a routerLink="list">list</a></li>
</ul>
<!--<router-outlink></router-outlink>-->

<h1>Lazy Loading</h1>
<ul>
  <li><a routerLink="admin/login"></a></li>
  <li><a routerLink="admin/list"></a></li>
</ul>
<!--56. Lazy loading component
1. Make 2 components
2. Make 2 buttons for loading components
3. Write component loading function-->

<h1>Lazy loading component in angular</h1>
<button (click)="loadAdmin()">Load Admin List</button>
<button (click)="loadUser()">Load User List</button>
</body>


</html>